<template>
  <article class="container is-widescreen is-fullhd is-mobile">
    <article-header
      v-if="articleLoaded"
      :title="article.title"
      :author="article.author"
      :publishDate="article.publish_date"
    ></article-header>
    <b-image
      v-if="article.banner"
      :src="article.banner.url"
      :placeholder="article.banner.formats.thumbnail.url"
      :alt="article.banner.alternativeText"
      class="image is-16by5 mb-4"
    >
    </b-image>
    <article-content
      v-if="articleLoaded"
      :sections="article.content"
      :tags="article.tags"
    ></article-content>
  </article>
</template>

<script>
import ArticleHeader from '~/components/ArticleHeader'
import ArticleContent from '~/components/ArticleContent'

export default {
  name: 'ArticleDetailsPage',
  components: {
    ArticleHeader,
    ArticleContent,
  },
  data() {
    return {
      article: {
        title: '',
        short_desc: '',
        banner: {
          url: '',
          alternativeText: '',
          formats: {
            thumbnail: {
              url: '',
            },
          },
        },
        author: {
          avatar: {
            url: '',
          },
        },
        tags: [],
        content: [],
        publish_date: '',
      },
    }
  },
  computed: {
    articleLoaded() {
      return this.$store.state.articles.loading === false
    },
  },
  head() {
    return {
      title: this.article.title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.article.short_desc,
        }, // add more seo entries later from seo object
      ],
    }
  },
  async created() {
    await this.getArticleData(this.$route.params.slug)
  },
  methods: {
    redirectToArticles() {
      this.$router.push({
        path: `/articles/`,
      })
    },
    async getArticleData(articleSlug) {
      try {
        const { article } = await this.$store.dispatch(
          'articles/getArticleBySlug',
          articleSlug
        )
        if (article === null) {
          this.redirectToArticles()
          return
        }
        this.article = { ...article }
      } catch (ex) {
        console.log(ex)
        this.redirectToArticles()
      }
    },
  },
}
</script>
