<template>
  <section class="container is-widescreen is-fullhd is-mobile">
    <div class="columns">
      <div class="column" v-if="latest">
        <card :article="{ ...latest }"></card>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <card
          v-for="article in left"
          :key="article.id"
          :article="{ ...article }"
        ></card>
      </div>
      <div class="column">
        <card
          v-for="article in right"
          :key="article.id"
          :article="{ ...article }"
        ></card>
      </div>
    </div>
    <infinite-loading @infinite="getArticles">
      <div slot="no-more">...</div>
      <div slot="no-results"></div>
    </infinite-loading>
  </section>
</template>

<script>
import Card from '~/components/Card'

export default {
  name: 'ArticleListPage',
  components: {
    Card,
  },
  data() {
    return {
      page: 1,
    }
  },
  computed: {
    categories() {
      return this.$store.state.categories.navbarCategories
    },
    latest() {
      return this.$store.state.articles.latestArticle
    },
    left() {
      return this.$store.state.articles.otherArticles.leftColumn
    },
    right() {
      return this.$store.state.articles.otherArticles.rightColumn
    },
    pagination() {
      return this.$store.state.articles.pagination
    },
    totalLoaded() {
      var count = this.left.length + this.right.length
      if (this.latest) count++
      return count
    },
    queryParams() {
      return this.$route.query
    },
  },
  async mounted() {
    this.page = 1

    this.$nextTick(async () => {
      await this.getArticles()
    })
  },
  methods: {
    async getArticles($state) {
      this.$nuxt.$loading.start()
      try {
        await this.$store.dispatch('articles/getArticles', this.page)

        if (this.pagination.total > this.totalLoaded) {
          $state.loaded()
          this.page += 1
        } else {
          $state.complete()
        }
      } catch (e) {
        console.log(e)
      } finally {
        this.$nuxt.$loading.finish()
      }
    },
  },
}
</script>
