<template>
  <section class="container is-mobile hero is-fluid mb-auto">
    <div class="hero-body is-unselectable">
      <p class="title is-size-1-desktop is-size-3-mobile has-text-centered">
        {{ title }}
      </p>
      <author-info v-if="author" :author="author"></author-info>
      <p class="has-text-centered has-text-grey is-size-6">
        Published:
        {{ $moment(publishDate).format('ddd, MMM Do YYYY') }}
      </p>
    </div>
  </section>
</template>
<style scoped>
.tile {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-height: auto;
  height: auto;
}

.title {
  font-weight: 800;
  opacity: 0.6;
}
</style>
<script>
import AuthorInfo from './AuthorInfo'

export default {
  name: 'ArticleHeader',
  components: {
    AuthorInfo,
  },
  props: {
    title: {
      type: String,
      required: true,
    },
    author: {
      type: Object,
      required: true,
    },
    publishDate: {
      type: String,
      required: true,
    },
  },
}
</script>
