<template>
  <section class="container is-mobile is-fluid">
    <div v-for="(content, i) in sections" :key="i">
      <media-text
        v-if="isMediaText(content)"
        :mdText="content.text"
      ></media-text>
      <media-photo
        v-if="isMediaPhoto(content)"
        :photo="content.photo"
        :caption="content.short_desc"
      ></media-photo>
      <media-carousel
        v-if="isMediaCarousel(content)"
        :photos="content.photos"
        :caption="content.short_desc"
      ></media-carousel>
      <media-video
        v-if="isMediaVideo(content)"
        :video="content.video"
        :caption="content.short_desc"
      ></media-video>
      <media-track
        v-if="isMediaTrack(content)"
        :trackId="content.track_id"
        :mini="content.mini"
        :theme="content.theme"
        :caption="content.short_desc"
      ></media-track>
      <media-playlist
        v-if="isMediaPlaylist(content)"
        :playlistId="content.playlist_id"
        :mini="content.mini"
        :theme="content.theme"
        :caption="content.short_desc"
      ></media-playlist>
      <link-preview
        v-if="isLinkPreview(content)"
        :link="content.link"
      ></link-preview>
      <aside-photo
        v-if="isAsidePhoto(content)"
        :photo="content.photo"
        :photoLeft="content.align_image_to_left"
        :text="content.text"
      ></aside-photo>
      <youtube-video
        v-if="isYoutubeVideo(content)"
        :videoUrl="content.video_url"
        :caption="content.short_desc"
      ></youtube-video>
    </div>
    <content-tags
      class="column mt-3 mb-2"
      :tags="tags"
      :size="4"
    ></content-tags>
  </section>
</template>

<script>
import MediaText from './MediaText'
import MediaPhoto from './MediaPhoto'
import MediaCarousel from './MediaCarousel'
import MediaVideo from './MediaVideo'
import MediaTrack from './MediaTrack'
import MediaPlaylist from './MediaPlaylist'
import ContentTags from './ContentTags'
import LinkPreview from './LinkPreview'
import AsidePhoto from './AsidePhoto'
import YoutubeVideo from './YoutubeVideo'

export default {
  name: 'ArticleContent',
  components: {
    MediaText,
    MediaPhoto,
    MediaCarousel,
    MediaVideo,
    MediaTrack,
    MediaPlaylist,
    ContentTags,
    LinkPreview,
    AsidePhoto,
    YoutubeVideo,
  },
  props: {
    sections: {
      type: Array,
      required: true,
      default: [],
    },
    tags: {
      type: Array,
      required: true,
      default: [],
    },
  },
  methods: {
    isMediaText(content) {
      return content.__component === 'shared.media-text'
    },
    isMediaPhoto(content) {
      return content.__component === 'shared.captioned-photo'
    },
    isMediaCarousel(content) {
      return content.__component === 'shared.captioned-photo-group'
    },
    isMediaVideo(content) {
      return content.__component === 'shared.captioned-video'
    },
    isMediaTrack(content) {
      return content.__component === 'shared.soundcloud-audio-track'
    },
    isMediaPlaylist(content) {
      return content.__component === 'shared.sc-audio-playlist'
    },
    isLinkPreview(content) {
      return content.__component === 'shared.link-preview'
    },
    isAsidePhoto(content) {
      return content.__component === 'shared.aside-image'
    },
    isYoutubeVideo(content) {
      return content.__component === 'shared.youtube-video'
    },
  },
}
</script>
