<template>
  <div class="columns is-justify-content-center mt-4 mb-3">
    <div class="column is-half">
      <b-image :src="photo.url" ratio="1by1">
        <template #placeholder>
          <b-skeleton
            class="skeleton-placeholder"
            height="100%"
            :animated="true"
          ></b-skeleton>
        </template>
      </b-image>
    </div>
    <div class="column is-half">
      <media-text :mdText="text"></media-text>
    </div>
  </div>
</template>

<script>
import MediaText from './MediaText'

export default {
  name: 'AsidePhoto',
  props: {
    photo: {
      type: Object,
      required: true,
    },
    text: {
      type: String,
      required: false,
      default: '',
    },
    photoLeft: {
      type: Boolean,
      required: false,
      default: true,
    },
  },
  data() {
    return {
      animated: true,
    }
  },
  components: {
    MediaText,
  },
  methods: {},
}
</script>
