<template>
  <div class="columns is-justify-content-center is-mobile">
    <div class="column is-one-quarter-desktop is-four-fifths-mobile">
      <div class="columns is-mobile is-clickable">
        <div class="column is-one-third">
          <figure class="image is-48x48">
            <img
              v-img-orientation-changer
              :src="author.avatar.url"
              :alt="author.avatar.alternativeText"
              class="is-square is-rounded author-img"
            />
          </figure>
        </div>
        <div class="column">
          <span class="subtitle is-size-6">
            {{ author.full_name }}
          </span>
          <br />
          <span class="subtitle is-size-7"> @{{ author.username }} </span>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.author-img {
  border: 1px solid rgba(221, 214, 214, 0.8);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
</style>

<script>
export default {
  name: 'AuthorInfo',
  props: {
    author: {
      type: Object,
      required: true,
    },
  },
}
</script>
