<template>
  <div class="column" v-if="article">
    <div class="card">
      <div class="card-image" @click="redirectToDetails" v-if="article.banner">
        <figure class="image is-16by5">
          <img
            v-img-orientation-changer
            :src="article.banner.url"
            :alt="article.banner.alternativeText"
          />
        </figure>
      </div>
      <div class="card-content">
        <div class="subtitle is-7">
          <time :datetime="article.publish_date">{{
            $moment(article.publish_date).short()
          }}</time>
          | {{ `${article.author.username}` }}
        </div>
        <div class="title" @click="redirectToDetails">
          {{ article.title }}
        </div>
        <div class="content subtitle is-6">
          <p>{{ article.short_desc }}</p>
        </div>
        <content-tags class="content" :tags="article.tags"></content-tags>
      </div>
    </div>
  </div>
</template>

<style scoped>
.title {
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
  opacity: 0.75;
}
</style>

<script>
import ContentTags from './ContentTags'

export default {
  name: 'ArticleCard',
  props: {
    article: {
      type: Object,
      required: true,
    },
  },
  components: {
    ContentTags,
  },
  methods: {
    redirectToDetails() {
      this.$router.push({
        path: `/articles/${this.article.slug}`,
      })
    },
  },
}
</script>
