<template>
  <div class="container">
    <span
      class="mr-3 tag-text is-clickable is-unselectable"
      :class="tagSizeClass"
      v-for="tag in tags"
      :key="tag.id"
      @click="redirectToTagDetails(tag.tag)"
    >
      #{{ tag.tag }}
    </span>
  </div>
</template>

<style scoped>
.tag-text {
  color: gray;
  opacity: 0.8;
}

.tag-text:hover {
  color: black;
  opacity: 0.65;
}
</style>

<script>
export default {
  name: 'ContentTags',
  props: {
    tags: {
      type: Array,
      required: false,
      default: [],
    },
    size: {
      type: Number,
      required: false,
      default: 6,
    },
  },
  computed: {
    tagSizeClass() {
      return `is-size-${this.size}`
    },
  },
  methods: {
    redirectToTagDetails(slug) {
      this.$router.push({
        path: `/tags/${slug}/`,
      })
    },
  },
}
</script>
