<template>
  <div class="columns is-justify-content-center is-mobile mt-4 mb-3">
    <div class="column is-two-fifths-desktop">
      <link-prevue :url="link" :showButton="false">
        <template slot="loading">
          <!-- custom loading -->
          <!-- <h1>Loading...</h1> -->
          <b-skeleton width="40%" :animated="animated"></b-skeleton>
          <b-skeleton width="20%" :animated="animated"></b-skeleton>
          <b-skeleton width="80%" :animated="animated"></b-skeleton>
          <b-skeleton width="60%" :animated="animated"></b-skeleton>
          <b-skeleton :animated="animated"></b-skeleton>
        </template>
        <template slot-scope="props">
          <div class="box">
            <article class="media">
              <div class="media-left is-justify-content-center">
                <figure class="image is-128x128">
                  <img :src="`https://${props.img}`" :alt="props.title" />
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <div class="title">
                    {{ props.title }}
                  </div>
                  <div class="content subtitle is-6">
                    <p>{{ props.description }}</p>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </template>
      </link-prevue>
    </div>
  </div>
</template>

<style scoped>
.title {
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 2rem;
  opacity: 0.75;
}
</style>

<script>
import LinkPrevue from 'link-prevue'

export default {
  name: 'LinkPreview',
  props: {
    link: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      animated: true,
    }
  },
  components: {
    LinkPrevue,
  },
  methods: {
    redirectToLink(link) {
      // console.log(`Redirecting to ${link}`)
      window.open(link, '_blank')
    },
    hasContent(props) {
      return props && (props.title || props.description)
    },
  },
}
</script>
