<template>
  <div class="column is-unselectable">
    <b-image :src="photo.url" ratio="16by5">
      <template #placeholder>
        <b-skeleton class="skeleton-placeholder" height="100%"></b-skeleton>
      </template>
    </b-image>
    <media-caption :caption="caption"></media-caption>
  </div>
</template>

<script>
import MediaCaption from './MediaCaption'

export default {
  name: 'MediaPhoto',
  props: {
    photo: {
      type: Object,
      required: true,
    },
    caption: {
      type: String,
      required: true,
      default: '',
    },
  },
  components: { MediaCaption },
}
</script>
