<template>
  <div class="container mt-6 mb-6">
    <div class="columns">
      <vue-core-video-player
        class="column is-two-thirds"
        :title="video.name"
        :cover="video.previewUrl"
        :src="video.url"
        :autoplay="true"
        :loop="true"
        :muted="false"
        preload="metadata"
      ></vue-core-video-player>
    </div>
    <media-caption :caption="caption"></media-caption>
  </div>
</template>

<style scoped>
.tile {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-height: auto;
  width: auto;
  height: auto;
}
</style>

<script>
import MediaCaption from './MediaCaption'

export default {
  name: 'MediaVideo',
  props: {
    video: {
      type: Object,
      required: true,
    },
    caption: {
      type: String,
      required: true,
      default: '',
    },
  },
  components: { MediaCaption },
}
</script>
