<template>
  <div class="column is-unselectable">
    <vue-simple-markdown
      class="content has-text-justified"
      :source="mdText"
    ></vue-simple-markdown>
  </div>
</template>

<style scoped="css">
.content {
  font-size: 1.2rem;
}

.markdown-body a {
  color: gray !important;
}
</style>

<script>
export default {
  name: 'MediaText',
  props: {
    mdText: {
      type: String,
      required: false,
      default: '',
    },
  },
}
</script>
