<template>
  <div class="container mb-6 mt-6">
    <VueSlickCarousel v-bind="settings">
      <div v-for="(photo, index) in photos" :key="photo.id">
        <img
          v-img-orientation-changer
          class="tile"
          :src="photo.url"
          :alt="photo.alternativeText"
          @click="openGallery(index)"
        />
      </div>
    </VueSlickCarousel>
    <media-caption class="mt-5" :caption="caption"></media-caption>
    <LightBox
      ref="lightbox"
      :media="media"
      :show-caption="true"
      :show-light-box="false"
    />
  </div>
</template>

<style scoped>
.tile {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-height: auto;
  width: auto;
  height: auto;
}
</style>

<script>
import MediaCaption from './MediaCaption'
import VueSlickCarousel from 'vue-slick-carousel'
import LightBox from 'vue-image-lightbox'

import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css' //optional style for arrows & dots
import 'vue-image-lightbox/dist/vue-image-lightbox.min.css'

export default {
  name: 'MediaCarousel',
  props: {
    photos: {
      type: Array,
      required: true,
      default: [],
    },
    caption: {
      type: String,
      required: false,
      default: '',
    },
  },
  components: {
    MediaCaption,
    VueSlickCarousel,
    LightBox,
  },
  data() {
    return {
      settings: {
        arrows: true,
        dots: true,
        adaptiveHeight: true,
        draggable: true,
        lazyLoad: 'progressive',
      },
    }
  },
  computed: {
    media() {
      return this.photos.map((photo) => {
        return {
          src: photo.url,
          caption: photo.alternativeText,
          thumb: photo.formats.thumbnail.url,
        }
      })
    },
  },
  methods: {
    openGallery(index) {
      this.$refs.lightbox.showImage(index)
    },
  },
}
</script>
