<template>
  <p
    v-if="hasCaption"
    class="subtitle has-text-centered is-size-6-desktop is-size-7-mobile mt-6"
  >
    {{ caption }}
  </p>
</template>

<style scoped>
.subtitle {
  color: gray;
  opacity: 0.7;
}
</style>

<script>
export default {
  name: 'MediaCaption',
  props: {
    caption: {
      type: String,
      required: false,
      default: '',
    },
  },
  computed: {
    hasCaption() {
      return this.caption !== ''
    },
  },
}
</script>
