<template>
  <div class="container mt-6 mb-6">
    <div class="columns mb-3">
      <SoundCloud
        class="column is-two-thirds tile mb-6"
        :playlist="playlistId"
        :mini="mini"
        :theme="theme"
        @ready="ready"
      />
    </div>
    <media-caption :caption="caption"></media-caption>
  </div>
</template>

<style scoped>
.tile {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-height: auto;
  height: auto;
}
</style>

<script>
import SoundCloud from 'vue-soundcloud-player'
import MediaCaption from './MediaCaption'

export default {
  name: 'MediaPlaylist',
  props: {
    playlistId: {
      type: String,
      required: true,
    },
    mini: {
      type: Boolean,
      required: false,
      default: true,
    },
    theme: {
      type: String,
      required: false,
      default: 'light',
    },
    caption: {
      type: String,
      required: false,
      default: '',
    },
  },
  components: {
    SoundCloud,
    MediaCaption,
  },
  methods: {
    ready() {
      // player streamready
      console.log('Playlist Player is Loaded...')
    },
  },
}
</script>
