<template>
  <b-navbar :transparent="true" :centered="true" :spaced="true" :shadow="false">
    <template #brand>
      <b-navbar-item tag="router-link" :to="{ path: '/' }">
        <img src="~assets/mports-banner.png" alt="Brand Logo" />
      </b-navbar-item>
    </template>
    <template #start class="has-text-right">
      <b-navbar-item
        tag="router-link"
        :to="{ path: '/articles/' }"
        :class="homeNavActiveClass"
      >
        Explore
      </b-navbar-item>
      <b-navbar-item
        v-for="cat in categories"
        :key="cat.id"
        :to="{ path: `/categories/${cat.slug}/` }"
        tag="router-link"
        exact-active-class="is-active"
      >
        {{ titleCase(cat.title) }}
      </b-navbar-item>
      <b-navbar-item
        tag="router-link"
        :to="{ path: '/tags/' }"
        :class="tagNavActiveClass"
      >
        Tags
      </b-navbar-item>
    </template>
    <template #end>
      <b-navbar-item tag="div">
        <a class="button is-secondary search-link" href="#">
          <font-awesome-icon icon="search" size="lg" />
        </a>
      </b-navbar-item>
    </template>
  </b-navbar>
</template>

<style scoped>
a {
  font-weight: 300;
  font-size: 1.3em;
}

a:hover {
  font-weight: 800;
  font-size: 1.5em;
  color: rgba(57, 53, 53, 0.6);
}

a.search-link {
  font-size: 1.2rem;
  border-width: 0px;
  opacity: 0.75;
}

.navbar-item {
  text-align: center !important;
}

.is-active {
  font-weight: 800;
  font-size: 1.5em;
  color: rgba(57, 53, 53, 0.8) !important;
}
</style>

<script>
import { getRouteName, toTitleCase } from '~/utils/utils'

export default {
  name: 'NavBar',
  props: {
    categories: {
      type: Array,
      required: false,
    },
  },
  computed: {
    tagNavActiveClass() {
      return {
        'is-active': getRouteName(this.$route.path) === 'tags',
      }
    },
    homeNavActiveClass() {
      return {
        'is-active': getRouteName(this.$route.path) === 'articles',
      }
    },
  },
  methods: {
    titleCase(text) {
      return toTitleCase(text)
    },
  },
}
</script>
