<template>
  <footer v-if="showFooter" class="footer pb-2 pt-2">
    <div
      class="content has-text-centered-mobile has-text-right-desktop is-unselectable"
    >
      <p class="footer-cp">©{{ year }} Mports</p>
    </div>
  </footer>
</template>

<style scoped>
.content {
  max-width: 92%;
}

.footer-cp {
  font-weight: 600;
  opacity: 0.4;
}
</style>

<script>
import { getRouteName } from '~/utils/utils'

export default {
  name: 'NavFooter',
  computed: {
    loadingArticles() {
      return this.$store.state.articles.loading
    },
    onTagsPage() {
      return getRouteName(this.$route.path) === 'tags'
    },
    showFooter() {
      return !this.loadingArticles && !this.onTagsPage
    },
  },
  props: {
    year: {
      type: Number,
      required: false,
      default: 2000,
    },
  },
}
</script>
