<template>
  <div class="container is-fluid">
    <ul class="cloud" role="navigation" aria-label="tag cloud">
      <li v-for="tag in tags" :key="tag.id">
        <a
          :data-weight="getRandomWeight()"
          @click="redirectToTagDetails(tag.tag)"
          >{{ tag.tag }}</a
        >
      </li>
    </ul>
  </div>
</template>

<style scoped>
ul.cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 3.5vw;
}

ul.cloud a {
  color: gray;
  margin: 0.25rem;
  display: block;
  padding: 0.125rem 0.25rem;
  text-decoration: none;
  position: relative;
  --size: attr(data-weight number, 2);
  --count: 15;
  font-size: calc(var(--size) * 0.5vw + 2vw);
  opacity: calc((var(--count) - (10 - var(--size))) / var(--count));
  font-weight: 800;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

ul.cloud a:hover {
  opacity: 60%;
  color: black;
}

/* ul.cloud[data-show-value] a::after {
  content: " (" attr(data-weight) ")";
  font-size: 1rem;
} */

ul.cloud a[data-weight='1'] {
  --size: 1;
}
ul.cloud a[data-weight='2'] {
  --size: 2;
}
ul.cloud a[data-weight='3'] {
  --size: 3;
}
ul.cloud a[data-weight='4'] {
  --size: 4;
}
ul.cloud a[data-weight='5'] {
  --size: 5;
}
ul.cloud a[data-weight='6'] {
  --size: 6;
}
ul.cloud a[data-weight='7'] {
  --size: 7;
}
ul.cloud a[data-weight='8'] {
  --size: 8;
}
ul.cloud a[data-weight='9'] {
  --size: 9;
}
ul.cloud a[data-weight='10'] {
  --size: 10;
}
</style>

<script>
export default {
  name: 'TagCloud',
  props: {
    tags: {
      type: Array,
      required: false,
      default: [],
    },
  },
  methods: {
    getRandomWeight() {
      return Math.floor(Math.random() * 10 + 1)
    },
    redirectToTagDetails(slug) {
      this.$router.push({
        path: `/tags/${slug}/`,
      })
    },
  },
}
</script>
