<template>
  <div class="columns mt-3 mb-3 is-justify-content-center">
    <client-only class="column tile">
      <youtube-media
        :video-id="videoId"
        :player-vars="playerVars"
      ></youtube-media>
      <template #placeholder>
        <b-skeleton width="40%" height="30%" :animated="animated"></b-skeleton>
        <b-skeleton width="80%" height="30%" :animated="animated"></b-skeleton>
        <b-skeleton width="60%" height="30%" :animated="animated"></b-skeleton>
        <b-skeleton :animated="animated"></b-skeleton>
      </template>
    </client-only>
    <media-caption :caption="caption"></media-caption>
  </div>
</template>

<style scoped>
.tile {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-height: auto;
  height: auto;
}
</style>

<script>
import { getIdFromURL, getTimeFromURL } from 'vue-youtube-embed'
import MediaCaption from './MediaCaption'

export default {
  name: 'YoutubeVideo',
  props: {
    videoUrl: {
      type: String,
      required: true,
    },
    caption: {
      type: String,
      required: false,
      default: '',
    },
  },
  components: {
    MediaCaption,
  },
  data() {
    return {
      animated: true,
    }
  },
  computed: {
    videoId() {
      return getIdFromURL(this.videoUrl)
    },
    playerVars() {
      return {
        start: getTimeFromURL(this.videoUrl),
        autoplay: 0,
      }
    },
  },
}
</script>
