<template>
  <section class="container is-widescreen is-fullhd is-mobile">
    <div class="container" v-if="category">
      <b-image
        v-if="category.banner"
        :src="category.banner.url"
        ratio="16by5"
      ></b-image>
      <h2
        v-if="category.show_title_in_details"
        class="title has-text-centered mt-3 mb-3"
      >
        {{ category.title }}
      </h2>
      <div v-else class="mb-6"></div>
      <media-text
        v-if="category.description"
        :mdText="category.description"
        class="mb-3"
      ></media-text>
    </div>
    <div class="container" v-if="totalLoaded">
      <h1 class="section-header has-text-justified ml-3">#Articles</h1>
      <div class="columns">
        <div class="column">
          <card
            v-for="article in left"
            :key="article.id"
            :article="{ ...article }"
          ></card>
        </div>
        <div class="column">
          <card
            v-for="article in right"
            :key="article.id"
            :article="{ ...article }"
          ></card>
        </div>
      </div>
    </div>
    <infinite-loading @infinite="getArticles">
      <div slot="no-more">...</div>
      <div slot="no-results"></div>
    </infinite-loading>
  </section>
</template>

<style scoped>
.tile {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-height: auto;
  height: auto;
}

.title {
  font-weight: 800;
  font-size: 10vw;
  opacity: 0.7;
}

.section-header {
  font-weight: 800;
  font-size: 12vw;
  opacity: 0.3;
}
</style>

<script>
import Card from '~/components/Card'
import MediaText from '~/components/MediaText'

export default {
  name: 'CategoryDetailsPage',
  components: {
    Card,
    MediaText,
  },
  data() {
    return {
      page: 1,
    }
  },
  computed: {
    category() {
      return this.$store.state.categories.category
    },
    left() {
      return this.$store.state.categories.articles.left
    },
    right() {
      return this.$store.state.categories.articles.right
    },
    pagination() {
      return this.$store.state.categories.articles.pagination
    },
    totalLoaded() {
      return this.left.length + this.right.length
    },
  },
  head() {
    return {
      title: this.category.title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.category.description,
        }, // add more seo entries later from seo object
      ],
    }
  },
  async created() {
    await this.getCategoryData(this.$route.params.slug)
    if ('id' in this.category) {
      await this.getArticles()
    } else {
      this.redirectToHome()
    }
  },
  methods: {
    async getCategoryData(catSlug) {
      try {
        await this.$store.dispatch('categories/getCategoryBySlug', catSlug)
      } catch (ex) {
        console.log(ex)
      }
    },
    async getArticles($state) {
      try {
        await this.$store.dispatch(
          'categories/getArticlesByCategory',
          this.category.id,
          this.page
        )

        if (this.pagination.total > this.totalLoaded) {
          $state.loaded()
          this.page += 1
        } else {
          $state.complete()
        }
      } catch (ex) {
        console.log(ex)
      }
    },
    redirectToHome() {
      this.$router.push({
        path: '/',
      })
    },
  },
}
</script>
