<template>
  <div v-cloak>
    <nav-bar :categories="categories"></nav-bar>
    <section class="main-content columns">
      <div class="container column is-10">
        <Nuxt />
      </div>
    </section>
    <nav-footer :year="currentYear"></nav-footer>
  </div>
</template>

<style scoped>
html,
body {
  font-family: Lato, sans-serif;
}

[v-cloak] {
  display: none;
}
</style>

<script>
import NavBar from '~/components/NavBar'
import NavFooter from '~/components/NavFooter'

export default {
  name: 'DefaultLayout',
  components: {
    NavBar,
    NavFooter,
  },
  computed: {
    categories() {
      return this.$store.state.categories.navbarCategories
    },
    currentYear() {
      return new Date().getFullYear()
    },
  },
  async created() {
    await this.getCategories()
  },
  async mounted() {
    const workbox = await window.$workbox
    if (workbox) {
      workbox.addEventListener('installed', (event) => {
        // If we don't do this we'll be displaying the notification after the initial installation, which isn't perferred.
        if (event.isUpdate) {
          // whatever logic you want to use to notify the user that they need to refresh the page.
          // TODO : Add alert for refresh page action
        }
      })
    }
  },
  methods: {
    async getCategories() {
      try {
        await this.$store.dispatch('categories/getNavbarCategories')
      } catch (e) {
        console.log(e)
      }
    },
  },
}
</script>
