<template>
  <div></div>
</template>

<script>
export default {
  name: 'IndexPage',
  scrollToTop: true,
  created() {
    this.redirectToArticles()
  },
  methods: {
    redirectToArticles() {
      this.$router.push({
        path: '/articles/',
      })
    },
  },
}
</script>
