<template>
  <section class="container is-widescreen is-fullhd is-mobile">
    <div class="container mt-2 mb-6" v-if="tag">
      <h2 class="section-header has-text-justified ml-3">#{{ tag.tag }}</h2>
      <p class="title ml-3">{{ postCountText }}</p>
    </div>
    <div class="container" v-if="totalLoaded">
      <div class="columns">
        <div class="column">
          <card
            v-for="article in left"
            :key="article.id"
            :article="{ ...article }"
          ></card>
        </div>
        <div class="column">
          <card
            v-for="article in right"
            :key="article.id"
            :article="{ ...article }"
          ></card>
        </div>
      </div>
    </div>
    <infinite-loading @infinite="getArticles">
      <div slot="no-more">...</div>
      <div slot="no-results"></div>
    </infinite-loading>
  </section>
</template>

<style scoped>
.tile {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-height: auto;
  height: auto;
}

.section-header {
  font-weight: 800;
  font-size: 8vw;
  opacity: 0.3;
}

.title {
  font-weight: 600;
  font-size: 4vw;
  opacity: 0.6;
}
</style>

<script>
import Card from '~/components/Card'
import { toTitleCase } from '~/utils/utils'

export default {
  name: 'TagDetailPage',
  components: {
    Card,
  },
  data() {
    return {
      page: 1,
    }
  },
  computed: {
    tag() {
      return this.$store.state.tags.selectedTag
    },
    left() {
      return this.$store.state.tags.articles.left
    },
    right() {
      return this.$store.state.tags.articles.right
    },
    pagination() {
      return this.$store.state.tags.articles.pagination
    },
    totalLoaded() {
      return this.left.length + this.right.length
    },
    postCountText() {
      return `${this.totalLoaded} ${
        this.totalLoaded === 1 ? 'article' : 'articles'
      }`
    },
  },
  head() {
    return {
      title: 'Tag | ' + toTitleCase(this.tag.tag),
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.tag.tag,
        }, // add more seo entries later from seo object
      ],
    }
  },
  async mounted() {
    await this.getTagData(this.$route.params.slug)
    if ('id' in this.tag) {
      await this.getArticles()
    } else {
      this.redirectToTags()
    }
  },
  methods: {
    async getTagData(tagText) {
      try {
        await this.$store.dispatch('tags/getTagByTagText', tagText)
      } catch (ex) {
        console.log(ex)
      }
    },
    async getArticles($state) {
      try {
        await this.$store.dispatch(
          'tags/getArticlesByTag',
          this.tag.id,
          this.page
        )

        if (this.pagination.total > this.totalLoaded) {
          $state.loaded()
          this.page += 1
        } else {
          $state.complete()
        }
      } catch (ex) {
        console.log(ex)
      }
    },
    redirectToTags() {
      this.$router.push({
        path: '/tags/',
      })
    },
  },
}
</script>
