<template>
  <section class="container is-widescreen is-fullhd is-mobile">
    <div class="columns mt-6">
      <div class="column is-8-desktop is-10-mobile mt-6">
        <tag-cloud :tags="tags"></tag-cloud>
      </div>
    </div>
  </section>
</template>

<style scoped>
.column {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}
</style>

<script>
import TagCloud from '~/components/TagCloud'

export default {
  name: 'TagListPage',
  components: { TagCloud },
  computed: {
    tags() {
      return this.$store.state.tags.tags
    },
  },
  async mounted() {
    await this.getTags()
  },
  methods: {
    async getTags() {
      try {
        await this.$store.dispatch('tags/getAllTags')
      } catch (ex) {
        console.log(ex)
      }
    },
  },
}
</script>
